<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="sourceDirectory" value="C:\Users\Folga\source\repos\BlazorSimpleServerApp\BlazorSimpleServerApp\wwwroot\datagrid2_result\"/>
		<add key="destinationDirectory" value="C:\Users\Folga\source\repos\BlazorSimpleServerApp\BlazorSimpleServerApp\wwwroot\director_pdfs\"/>
		<add key="filterFileType" value="*.json"/>
		<add key="timerIntervalInMs" value="10000"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>