@page "/datagrid"
@using BlazorSimpleServerApp.Data
@inject WeatherForecastService ForecastService

<h1>Data grid</h1>

<RadzenGrid AllowSorting="true" Data="@forecasts" TItem="WeatherForecast" AllowColumnResize="true">
    <Columns>
        <RadzenGridColumn TItem="WeatherForecast" Context="data" Property="TemperatureC" Title="Id" >
            <Template>
                @data.TemperatureC
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="WeatherForecast" Context="data" Property="Summary" Title="File Name" Type="string">
            <Template>
                @data.Summary
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="WeatherForecast" Context="data" Property="Date" Title="Date" Type="DateTime">
            <Template>
                @data.Date.ToShortDateString()
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
